
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #cccccc;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 60px;
}
nav li{
    margin: 0 0 0 15px;
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color: #c78c19;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /**/
    border: 2px solid #000; /*Primer parametro ancho del borde dsp,el estilo del border y por ultimo el color que tendra dicho borde*/
    border-radius: 15px;
}
.productos li:hover{
    border-color: #c78c19;

}
.productos li:active{
    border-color: #4c4c;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2 {
    font-size: 33px;

}
.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    padding: 40px;
    text-align: center;
    background: url(imagenes/bg.jpg)
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

form{
    margin:40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all ;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}
thead{
    background: #555;
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid #000;
    padding: 8px 15px;
}
/*Aqui inica el CSS para nuestra home*/


.banner{
    width: 100%;
}
.principal{
    padding: 3em 0 ;
    background: #FEFEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFEFE,#888888);
}
.mapa p{
    font-size: 1.5em;
    margin: 0 0 2em;
    text-align: center;
}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
.diferenciales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0 ;
    background: #888888;
}
.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}
.lista-diferenciales{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
.item{
    line-height: 1.5;
}
.item::before{
    content: "★";
}
.item:first-of-type{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 40%;
    transition: 1s;
    box-shadow: 10px 10px 10px  15px #000;
}
.imagen-diferenciales:hover{
    opacity: 0.3;
}
.videos{
    width: 960px;
    margin: 1em auto;
}
iframe{
    padding: 0 10px;
}
@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja,.principal, .mapa-contenido,.contenido-diferenciales,.videos{
        width: auto;
    }
    .lista-diferenciales,.imagen-diferenciales{
        width: 100%;
    }
}
/*
Selector > , para acceder a los hijos de determinado elemento. Por ejemplo, para acceder todos los p dentro del main:
    main > p {          }
Selector +, para acceder al primer hermano de determinado elemento. Por ejemplo, para acceder el primer p después de una img:
    img + p {
    }
Selector ~, para acceder a todos los hermanos de determinado elemento. Por ejemplo, para acceder todos los p después de una img:
img ~ p {
}
Selector not, para acceder a los elementos, excepto algunos. Por ejemplo, para acceder a todos los p dentro de main excepto el p que tiene id missao:
    main p:not(#missao) {
    }
Cómo hacer cuentas con CSS, con la propiedad calc
*/


